OBS_TRANS_SERVICE_ENV_GUARD=1
OBS_TRANS_SERVICE_VERSION=0.1.0

###############################################################
#                       OCR and LLM
###############################################################
OBS_TRANS_OCR_URL=http://localhost:20000/ocr/dict
OBS_TRANS_LLM_HOST=http://localhost:11434
OBS_TRANS_LLM_MODEL=gemma2:2b

OBS_TRANS_TIMEOUT_SEC_OCR=5
OBS_TRANS_TIMEOUT_SEC_LLM=30

###############################################################
#                       for video capture
###############################################################
OBS_TRANS_VIDEO_VIRTUAL_CAMERA_NAME="OBS Virtual Camera"

OBS_TRANS_VIDEO_DEFAULT_WIDTH=1920
OBS_TRANS_VIDEO_DEFAULT_HEIGHT=1080

OBS_TRANS_VIDEO_CAPTURE_RETRY_COUNT=5
OBS_TRANS_VIDEO_CAPTURE_RETRY_DELAY_SEC=3
OBS_TRANS_VIDEO_CAPTURE_INTERVAL_SEC=0.2

OBS_TRANS_IMAGE_DIFF_THRESHOLD=30.0
OBS_TRANS_IMAGE_TEMP_FOLDER=temp
OBS_TRANS_IMAGE_BLANK=./pic/blank.png

OBS_TRANS_VIDEO_SHOW_CAPTURE=false

###############################################################
#                      for image
###############################################################
OBS_TRANS_IMAGE_SOURCE_PATH=./pic/test.png
OBS_TRANS_IMAGE_DEST_PATH=./pic/translated_text_overlay.png
OBS_TRANS_IMAGE_TEXT_LEN_THRESHOLD=5
OBS_TRANS_IMAGE_CACHE_SIZE=1000

###############################################################
#                    for translation
###############################################################
OBS_TRANS_MODE=llm  # llm or google
OBS_TRANS_LLM_SYSTEM_PROMPT=translator_prompt.txt
OBS_TRANS_GOOGLE_SOURCE_LANG=ja
OBS_TRANS_GOOGLE_TARGET_LAND=zh-TW